In [2]:
import pandas as pd

In [3]:
gs_data=pd.read_csv('superstore.csv',encoding="latin1", on_bad_lines="skip")

In [4]:
gs_data.info()
gs_data.sample(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        51290 non-null  object
 1   City            51290 non-null  object
 2   Country         51290 non-null  object
 3   Customer.ID     51290 non-null  object
 4   Customer.Name   51290 non-null  object
 5   Discount        51290 non-null  float64
 6   Market          51290 non-null  object
 7   è®°å½æ°       51290 non-null  int64
 8   Order.Date      51290 non-null  object
 9   Order.ID        51290 non-null  object
 10  Order.Priority  51290 non-null  object
 11  Product.ID      51290 non-null  object
 12  Product.Name    51290 non-null  object
 13  Profit          51290 non-null  float64
 14  Quantity        51290 non-null  int64
 15  Region          51290 non-null  object
 16  Row.ID          51290 non-null  int64
 17  Sales           51290 non-null  int64
 18  Segment         51290 non-null  object
 19  Ship.Date       51290 non-null  object
 20  Ship.Mode       51290 non-null  object
 21  Shipping.Cost   51290 non-null  float64
 22  State           51290 non-null  object
 23  Sub.Category    51290 non-null  object
 24  Year            51290 non-null  int64
 25  Market2         51290 non-null  object
 26  weeknum         51290 non-null  int64
dtypes: float64(3), int64(6), object(18)
memory usage: 10.6+ MB

,Category,City,Country,Customer.ID,Customer.Name,Discount,Market,è®°å½æ°,Order.Date,Order.ID,...,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum
39758,Office Supplies,San Pedro Sula,Honduras,JM-156553,Jim Mitchum,0.4,LATAM,1,2011-11-17 00:00:00.000,US-2011-126382,...,103,Corporate,2011-11-21 00:00:00.000,Standard Class,8.01,CortÃ©s,Binders,2011,LATAM,47
11608,Office Supplies,Kerpen,Germany,SC-203052,Sean Christensen,0.0,EU,1,2012-08-21 00:00:00.000,ES-2012-1342242,...,25,Consumer,2012-08-26 00:00:00.000,Standard Class,2.98,North Rhine-Westphalia,Paper,2012,EU,34

# Data cleaning and converting datatypes

In [5]:
#Removing unwanted columns

In [6]:
gs_data.drop(columns=['è®°å½æ°','Order.Priority','Row.ID','Market2'],inplace=True)

In [7]:
gs_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Category       51290 non-null  object
 1   City           51290 non-null  object
 2   Country        51290 non-null  object
 3   Customer.ID    51290 non-null  object
 4   Customer.Name  51290 non-null  object
 5   Discount       51290 non-null  float64
 6   Market         51290 non-null  object
 7   Order.Date     51290 non-null  object
 8   Order.ID       51290 non-null  object
 9   Product.ID     51290 non-null  object
 10  Product.Name   51290 non-null  object
 11  Profit         51290 non-null  float64
 12  Quantity       51290 non-null  int64
 13  Region         51290 non-null  object
 14  Sales          51290 non-null  int64
 15  Segment        51290 non-null  object
 16  Ship.Date      51290 non-null  object
 17  Ship.Mode      51290 non-null  object
 18  Shipping.Cost  51290 non-null  float64
 19  State          51290 non-null  object
 20  Sub.Category   51290 non-null  object
 21  Year           51290 non-null  int64
 22  weeknum        51290 non-null  int64
dtypes: float64(3), int64(4), object(16)
memory usage: 9.0+ MB

In [8]:

gs_data['Order.Date'] = pd.to_datetime(gs_data['Order.Date'], errors='coerce')
gs_data['Ship.Date'] = pd.to_datetime(gs_data['Ship.Date'], errors='coerce')

gs_data['Year'] = gs_data['Order.Date'].dt.year
gs_data['Month'] = gs_data['Order.Date'].dt.month
gs_data['Week'] = gs_data['Order.Date'].dt.isocalendar().week


gs_data['Order.Date'] = gs_data['Order.Date'].dt.strftime('%Y-%m-%d')
gs_data['Ship.Date'] = gs_data['Ship.Date'].dt.strftime('%Y-%m-%d')

In [10]:
gs_data["Sales"] = gs_data["Sales"].replace({",": ""}, regex=True).astype(float)
gs_data["Profit"] = gs_data["Profit"].replace({",": ""}, regex=True).astype(float)
gs_data["Shipping.Cost"] = gs_data["Shipping.Cost"].replace({",": ""}, regex=True).astype(float)

In [14]:
gs_data['Profit_margin']=(gs_data['Profit'])/(gs_data['Sales'])*100

In [16]:
gs_data.sample(2)

,Category,City,Country,Customer.ID,Customer.Name,Discount,Market,Order.Date,Order.ID,Product.ID,...,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,weeknum,Month,Week,Profit_margin
26306,Technology,Guelph,Canada,DW-34802,Dianna Wilson,0.0,Canada,2013-08-24,CA-2013-1260,TEC-BRO-10002103,...,2013-08-26,Second Class,3.23,Ontario,Copiers,2013,34,8,34,48.906040
22473,Furniture,Dniprodzerzhyns'k,Ukraine,AR-5102,Andrew Roberts,0.0,EMEA,2014-04-12,UP-2014-870,FUR-TEN-10000325,...,2014-04-16,Standard Class,1.06,Dnipropetrovs'k,Furnishings,2014,15,4,15,4.833333

In [17]:
gs_data.to_csv('gs_clean_final.csv',encoding="utf-8")